@font-face {
  font-family: firs;
  src: url(TT\ Firs\ Neue\ Trial\ Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: firs;
  background-color: #0d0d0d;
  color: white;
  height: 100vh;
}
.logo {
  width: 35rem;
}
.nav_logo {
  width: 5.5rem;
}
h1 {
  font-family: firs;
}
